extends layout

block content
  nav#global-nav.section.group.content
    ul
      li.red1
        a.red1(href="#first-halo") Doors &amp; Dots
      li.orange
        a.orange(href="#aboutus") About us
      li.green
        a.green(href="/doorsndots-presskit20130804.zip") Press Kit
      li.red1
        a.red1(href="#contacts") Contacts
      li.orange
        a.orange(href="http://blog.easi6.com",target="_blank") Blog

  article#first-halo.section.group.content
    .bg-iphone4.col.span_6_of_12
      img(src="/images/ip_splash_view.png").splash
      a(href="http://player.vimeo.com/video/72255740").vimeo.cboxElement
        img(src="/images/video-play.png").video-button
    section.col.span_6_of_12
      h1 Doors &amp; Dots
      p(style="margin-bottom:25px; font-size:14pt") <b style="font-size:15pt;color:#80a480">Create</b>, share, and discover near-term meetings.
      p(style="margin-bottom:25px; font-size:14pt") <b style="font-size:15pt;color:#80a480">Share</b> meeting details in a single, organized display.
      p(style="margin-bottom:25px; font-size:14pt") <b style="font-size:15pt;color:#80a480">Snap</b> and share photos, and comment on meetings.
      p(style="margin-bottom:25px; font-size:14pt") <b style="font-size:15pt;color:#80a480">Socialize</b> around locations, share your travel, and chat with friends on the real-time meeting map.
      a(href="https://itunes.apple.com/us/app/doors-dots/id632302180?mt=8").button Get the app
  div#features
    article.section.group.features.content
      section.col.span_4_of_12
        h2 Discover &amp; Create
        p Discover all the upcoming meetings in your friend network in one place, catching all the important details in a single glance.
        p Create meetings quickly and easily:
        ul.desc
          li Why - Bubble Tea Study Break
          li With Whom - The Ballroom Dance Team (Group Invite)
          li Where - The Teahouse
          li When - 30 Minutes From Now!
      .bg-iphone4.col.span_4_of_12
        img(src="/images/ip_create_view.png").screenshot
      .bg-iphone4.col.span_4_of_12
        img(src="/images/ip_discover_view.png").screenshot
    article.section.group.features.content
      .bg-iphone4.col.span_4_of_12
        img(src="/images/ip_detail_view.png").screenshot
      .bg-iphone4.col.span_4_of_12
        img(src="/images/ip_map_view.png").screenshot
      section.col.span_4_of_12
        h2 Details &amp; Location Features
        p View all the meeting details in a single, organized display; comment among your friends; add activities to your mobile device calendar; and, take and share photos!
        p Share your real-time location, travel, and other information en route to meetings, using unique Doors &amp; Dots features like on-map chatting (synced with meeting comments) and photo uploading!

  div#aboutus
    article.section.group.content
      hgroup
        h2 “Solve common problems<br/>with uncommon technologies.”
        h3 <span style="font-weight:normal">－</span>easi6
      div.section.group.contactinfo
        a(href="http://easi6.com").col.span_5_of_12.homepage
          p easi6.com
        a(href="mailto:info@easi6.com").col.span_7_of_12.mail
          p info@easi6.com / 364 Marin Blvd. 2fl Jersey City, NJ 07302
      div.section.group.members
        section.col.span_7_of_12
          a(style="background-image:url(/images/members/kay.png)").member-photo.col.span_4_of_12
          div.col.span_8_of_12.member-desc
            hgroup
              h4 Kay Woo
              h5 Founder &amp; Executive
            a(href="mailto:kay.woo@easi6.com") kay.woo@easi6.com

        section.col.span_5_of_12
          a(style="background-image:url(/images/members/jhhan.png)").member-photo.col.span_2_of_12
          div.col.span_7_of_12.member-desc
            hgroup
              h4 Jaehwa Han
              h5 Lead Engineer
            a(href="mailto:drh@easi6.com") drh@easi6.com

      div.section.group.members
        section.col.span_7_of_12
          a(style="background-image:url(/images/members/jordan.png)").member-photo.col.span_2_of_12
          div.col.span_8_of_12.member-desc
            hgroup
              h4 Jordan J. Jarecki
              h5 Growth Operation
            a(href="mailto:jordan.j@easi6.com") jordan.j@easi6.com

        section.col.span_5_of_12
          a(style="background-image:url(/images/members/daewon.png)").member-photo.col.span_2_of_12
          div.col.span_7_of_12.member-desc
            hgroup
              h4 Daewon Kim
              h5 Android Developer
            a(href="mailto:d429@easi6.com") d429@easi6.com

      div.section.group.members
        section.col.span_7_of_12
          a(style="background-image:url(/images/members/eunsol.png)").member-photo.col.span_2_of_12
          div.col.span_8_of_12.member-desc
            hgroup
              h4 Eunsol Kim
              h5 Machine Learning Engineer
            a(href="mailto:ssol@easi6.com") ssol@easi6.com

        section.col.span_5_of_12
          a(style="background-image:url(/images/members/jiseob.png)").member-photo.col.span_2_of_12
          div.col.span_7_of_12.member-desc
            hgroup
              h4 Jiseob Kim
              h5 Machine Learning Engineer
            a(href="mailto:nzer0@easi6.com") nzer0@easi6.com

      div.section.group.members
        section.col.span_7_of_12
          a(style="background-image:url(/images/members/sunny.png)").member-photo.col.span_2_of_12
          div.col.span_8_of_12.member-desc
            hgroup
              h4 Sunny Hong
              h5 Designer
            a(href="mailto:sunny.hong12@gmail.com") sunny.hong12@gmail.com
        section.col.span_5_of_12
          a(style="background-image:url(/images/members/minjin.png)").member-photo.col.span_2_of_12
          div.col.span_7_of_12.member-desc
            hgroup
              h4 Minjin Shin
              h5 Designer
            a(href="mailto:mjjk35@gmail.com") mjjk35@gmail.com
      div.section.group.members
        section.col.span_7_of_12
          a(style="background-image:url(/images/members/derek.png)").member-photo.col.span_2_of_12
          div.col.span_8_of_12.member-desc
            hgroup
              h4 Derek Nguyen
              h5 Designer
            a(href="mailto:derek@doorsndots.com") derek@doorsndots.com

  div#contacts
    div.section.group.content
      a(href="https://www.facebook.com/doorsndots").col.span_7_of_12.fb
        |Keep in touch
      a(href="https://twitter.com/doorsndots").col.span_5_of_12.tw
        |Keep up to date
  div#blog
    div.section.group.content
      a(href="http://blog.easi6.com")
        |Visit our blog
  a(href="#")#tothetop top
