extends layout

block content
	div.container_12#main-container
		div#phone-image.grid_6.alpha
			p(style="margin:520px 0 0 115px")
				a.betabutton(href="/beta") Apply for Beta!
		div.grid_6.omega
			h1#logo Doors & Dots
			h2#slogan — We live our lives between Doors & Dots. —
			div
				p.desc People meet; it’s what we do.  But, bringing people together can be a complicated task.  Doors & Dots is changing that: 
				p.desc •	Quickly and easily create, discover, and share meetings, be they professional or social, planned or spontaneous, public or private.
				p.desc •	Invite multiple friends at once with just the touch of a button.
				p.desc •	Sync meetings and events with your mobile device calendar.
				p.desc •	Share current location, travel, and other information with friends en route to meetings.
				p.desc •	Take and share photos, and enjoy a photo narrative of your memories.
				p.desc It’s time for something new.  Come together with Doors & Dots. 

				p.tweet Tweets from @doorsndots
				<a class="twitter-timeline" width="460" height="150" data-link-color="#54abd1" href="https://twitter.com/doorsndots" data-widget-id="271479541992669184">Tweets by @doorsndots</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		div.grid_12.alpha.omega#info
			p.prefix_1.grid_4.suffix_1.alpha#whomade
				| Doors & Dots is proudly made by 
				a(href="http://easi6.com#members", target="_blank") easi6
				| <br /> Check out our stories in 
				a(href="http://blog.easi6.com", target="_blank") The Team Blog
			p.prefix_1.grid_5.suffix_1.alpha#comingsoon 

		div.grid_12.alpha
			p.prefix_3.alpha#how
		
		div.grid_6.omega
			div
				p.desc &nbsp
				p.desc &nbsp
				p.desc &nbsp
				p.desc &nbsp
				p.desc &nbsp
				p.desc &nbsp
				p.desc &nbsp
				p.desc &nbsp
				p.desctop Think Soon: 
				p.desc &nbsp
				p.desc Discover all upcoming meetings in one place.
				p.desc &nbsp
				p.desc See all the meetings that you’ve made, been invited to, your friends have joined, or that are open to all users in your neighborhood.
				p.desc &nbsp
				p.desc They’re all meetings – no need to shift through grumpy cat memes and ugly breakups.

		div#discover-image.grid_6.omega
		
		div#create-image.grid_6.omega
		div.grid_6.alpha
			div
				p.desc &nbsp
				p.desc &nbsp
				p.desc &nbsp
				p.desc &nbsp
				p.desc &nbsp
				p.desc &nbsp
				p.desc &nbsp
				p.desc &nbsp
				p.desctop Fast & Easy:
				p.desc &nbsp
				p.desc Four questions and go!
				p.desc &nbsp
				p.desc &nbsp &nbsp &nbsp &nbsp &nbsp-Why → Bubble Tea Study Break
				p.desc &nbsp &nbsp &nbsp &nbsp &nbsp-With Whom → The Snowboarding Club
				p.desc &nbsp &nbsp &nbsp &nbsp &nbsp-Where → The Old Teahouse
				p.desc &nbsp &nbsp &nbsp &nbsp &nbsp-When → 30 Minutes From Now!
				p.desc &nbsp
				p.desc Organize and invite entire groups of your friends at once.
				p.desc &nbsp
				p.desc Let us learn you, and we’ll suggest meetings to you based on your history.
		
		div.grid_12.alpha
			p.prefix_3.desc &nbsp		

		

		
		div#remember-image.grid_6.omega

		div.grid_6.alpha
			div
				p.desc &nbsp
				p.desc &nbsp
				p.desc &nbsp
				p.desc &nbsp
				p.desc &nbsp
				p.desc &nbsp
				p.desc &nbsp
				p.desc &nbsp
				p.desctop As Time Goes By:
				p.desc &nbsp
				p.desc Take and share photos during meetings, and they’ll be saved in Remember.
				p.desc &nbsp
				p.desc Enjoy a narrative of your meetings and memories with friends.
				p.desc &nbsp
				p.desc Look back at previous meetings to know who attended, where you went, and when.

		
