extends layout

block content
	div.container_12#main-container
		div#phone-image.grid_6.alpha
			p(style="margin:520px 0 0 115px")
				a.betabutton(href="/beta") Apply for Beta!
		div.grid_6.omega
			h1#logo Doors & Dots
			h2#slogan — We live our lives between Doors & Dots. —
			div
				p.desc People meet; it’s what we do.  But, bringing people together can be a complicated task.  Doors & Dots is changing that: 
				p.desc But, how do you effectively tell your friends what you will do in the future…?
				p.desc Discover soon. Discover with us.

				p.tweet Tweets from @doorsndots
				<a class="twitter-timeline" width="460" height="300" data-link-color="#54abd1" href="https://twitter.com/doorsndots" data-widget-id="271479541992669184">Tweets by @doorsndots</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		div.grid_12.alpha.omega#info
			p.prefix_1.grid_4.suffix_1.alpha#whomade
				| Doors & Dots is proudly made by 
				a(href="http://easi6.com#members", target="_blank") easi6
				| <br /> Check out our stories in 
				a(href="http://blog.easi6.com", target="_blank") The Team Blog
			p.prefix_1.grid_4.suffix_1.omega#comingsoon Doors & Dots iPhone application will be available in the App store soon.
		p.grid_12.alpha.omea#copyright copyright © 2012 easi6, Inc. - All Rights Reserved
