doctype 5
html
  head
    <meta property="og:title" content="Doors &amp; Dots" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://doorsndots.com" />
    <meta property="og:image" content="http://doorsndots.com/images/app-iphone.jpg" />
    <meta property="og:site_name" content="Doors &amp; Dots" />
    <meta property="fb:admins" content="637203332" />
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/960_12_col.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/button.css')
  body
    block content
