doctype 5
html
  head
    <meta property="og:title" content="Doors &amp; Dots" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://doorsndots.com" />
    <meta property="og:image" content="http://doorsndots.com/images/ogimage.png" />
    <meta property="og:site_name" content="Doors &amp; Dots" />
    <meta property="og:description" content="Quickly and easily create, discover, and share meetings, be they professional or social, planned or spontaneous, public or private." />
    <meta property="fb:admins" content="637203332" />
    title= title

    <meta name="HandHeldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">

    link(rel='stylesheet', href='/stylesheets/html5reset.css')
    link(rel='stylesheet', href='/stylesheets/col.css')
    link(rel='stylesheet', href='/stylesheets/12cols.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  body
    #fb-root
    script
      window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
          appId      : '403834713009435', // App ID from the App Dashboard
          channelUrl : '//doorsndots.com/channel.html', // Channel File for x-domain communication
          status     : true, // check the login status upon init?
          cookie     : true, // set sessions cookies to allow your server to access the session?
          xfbml      : true  // parse XFBML tags on this page?
        });

        // Additional initialization code such as adding Event Listeners goes here
        if (typeof facebookLoaded !== "undefined") {
          facebookLoaded();
        }
      };

      // Load the SDK's source Asynchronously
      // Note that the debug version is being actively developed and might 
      // contain some type checks that are overly strict. 
      // Please report such bugs using the bugs tool.
      (function(d, debug){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
         ref.parentNode.insertBefore(js, ref);
       }(document, /*debug*/ false));
    block content
