body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  //background:url(/images/extra_clean_paper_@2X.png)
  background:url(/images/bg-dots.jpg)
a
  color: #54abd1
#main-container
  padding-top:40px
  background:#fdfbfc
  box-shadow: 0 0 10px #888
  min-height:300px
  border-bottom-right-radius:7px
  border-bottom-left-radius:7px
  margin-bottom:20px
#logo
  background:url(/images/title.gif) no-repeat 0 0
  text-indent:-99999px
  height:46px
#slogan
  font-size:16pt
  font-family: Times, "Times New Roman", serif
  font-style:italic
  color:#888
  margin-top:50px
  margin-bottom:50px
.desc
  font-size: 12pt
  color:#444
  text-align:left
  line-height:130%
  margin-bottom:10px
#teaser
  display:block
  margin-top:50px
.stream
  background:url(/images/bg-dots.jpg)
.tweet
  color:#aaa
  font-size:11pt
  text-align:right
  margin-top:50px
  margin-bottom:5px
  font-style:italic
  font-family: Times, "Times New Roman", serif
#comingsoon
  margin-top:0px
#whomade
  font-size:11pt
  color:#444
#info
  margin-top:-200px  
  text-align:center
  font-size:13pt
  color:#aaa
#copyright
  color:#aaa
#phone-image
   height:978px + 50px
   background:url(/images/app-iphone.jpg) no-repeat 0 50px
